body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 18px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 18px;
    font-weight: bold;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 14px;
}

h3 {
    font-size: 14px;
    
}

h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

h5 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 10px;
}

.menu ul, .menu li {
	margin: 0;
    padding: 0;
    
}
.menu ul {
	list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #30A6E6;
    
}

.menu li {
	float: left;
	position: relative;
    width: auto;
    background-color: #30A6E6;  

}
.menu a {
	background-color: #30A6E6;
	color: black;
	display: block;
	font: bold   12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.menu li:hover a {
	background: #a7c3ee;
}

#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
	opacity: 1;
	top: 35px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}

#submenu li {
	float: none;
	width: 100%;
}

#submenu a:hover {
	background: #DF4B05;
}

#submenu a {
	background-color:#a7c3ee;
}

.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.background {
    width: 100%;
    height: 400px;
}

figcaption {
    font-size: 12px;
    text-align: right;    
}

.txt {
    position: fixed;
    right: 2em; top: 44%;
    
    font-family: monospace;
    font-size: 3em;
    font-weight: bold;
    
    background-color: transparent;
  }

  .quadrados {
    display: flex;
    /*justify-content: center; */
}

.flex-container {
    display: flex;
    background-color: rgb(211, 220, 224);
    padding: 5px;
}

.flex-container > div {
    margin: auto;
}

.flex-container .logo {
    margin-bottom: 1px;
}

.flex-container #logos {
    margin-bottom: 5px;
}

.imagem2 {
    display: block;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
}

#novidades {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 50%;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
}

#novidades #email {
    border: 0px;
    border-bottom: 1px solid black;
    text-align: center;
}

#novidades #button {
    margin-top: 5px;
}

#novidades #button {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0.6em;
    color: black;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    align-self: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
  }
  #button:hover, #button:focus {
    color: #fff;
    outline: 0;
  }

  .third {
    border-color: #30A6E6;
    color: #fff;
    box-shadow: 0 0 40px 40px #30A6E6 inset, 0 0 0 0 #30A6E6;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #30A6E6 inset, 0 0 10px 4px #30A6E6;
  }

  #qua {
    display: flex;
  }

  #qua > div {
      margin: auto;
      margin-top: 10px;
      border: 1px double black;
      padding: 3px;
  }

  .ima{
      max-width: 300px;
      width: auto;
  }

  .padre {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px;

  }

  .hijo {
      padding: 5px;
      width: auto;
  }


  terminar p os hijos!!!