h1 {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 18px;
    font-weight: bold;

}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 14px;
}

.menu ul, .menu li {
	margin: 0;
    padding: 0;
    
}
.menu ul {
	list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #30A6E6;
    
}

.menu li {
	float: left;
	position: relative;
    width: auto;
    background-color: #30A6E6;  

}
.menu a {
	background-color: #30A6E6;
	color: black;
	display: block;
	font: bold   12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.menu li:hover a {
	background: #a7c3ee;
}

#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}

#submenu li {
	float: none;
	width: 100%;
}

#submenu a:hover {
	background: #DF4B05;
}

#submenu a {
	background-color:#a7c3ee;
}

.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.background {
    width: 100%;
    height: 400px;
}

.txt {
    position: fixed;
    right: 2em; top: 44%;
    
    font-family: monospace;
    font-size: 3em;
    font-weight: bold;
    
    background-color: transparent;
  }

  .quadrados {
    display: flex;
    /*justify-content: center; */
}

.flex-container {
    display: flex;
    background-color: rgb(211, 220, 224);
}

.flex-container > div {
    margin: auto;

}

.flex-container.fab fa-instagram-square {
    margin: 2px;
}

.imagem2 {
    display: block;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
}


